* {
    font-family: "Work Sans"
}

h1 {
    text-align: center;
    font-size:32px;
    white-space: normal;
    word-wrap: break-word;
}

.line-chart{
    stroke-width: 3;
    fill: none;
    opacity: 1;
}

.hovered{
    opacity: 1;
    stroke-width: 5;

}

.not-hovered{
    opacity: .4;
}